<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
      <div *ngIf="exibePainelLogin else painelCadastro">
        <app-login (exibirPainelLogin)="ExibirPainel($event)"></app-login>
      </div>
      <ng-template #painelCadastro>
        <app-cadastro (exibirPainelLogin)="ExibirPainel($event)"></app-cadastro>
      </ng-template>
    </div>  
  </div>
</div>